* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  /* align-items: start; */
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.book h1 {
  margin: 0.5rem 0;
  color: #20cfb8;
}

button {
  padding: 0.3rem;
}

a {
  text-decoration: none;
}

body {
  background: #f1f5f8;
  color: #ff999e;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
